.container {
  margin-left: 60px;
  max-width: 580px;
}

.upperContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.ready {
  width: 272px;
}

.making {
  width: 272px;
}

.readyTitle {
  composes: text text_type_main-large mb-6 from global;
}

.readyNumbers {
  composes: text text_type_digits-default mb-2 from global;
  color: rgba(0, 204, 204, 1);
}

.makingTitle {
  composes: text text_type_main-large mb-6 from global;
}

.makingNumbers {
  composes: text text_type_digits-default mb-2 from global;
}

.totalTitle {
  composes: text text_type_main-large from global;
}

.totalNumber {
  composes: text text_type_digits-large mb-15 from global;
}

.todayTitle {
  composes: text text_type_main-large from global;
}

.todayNumber {
  composes: text text_type_digits-large mb-15 from global;
}

.ordersGrid {
  display: flex;
  gap: 10px;
  @media (max-width: 1230px) {
    height: 150px;
    overflow-y: scroll;
  }
}

.orderColumn {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

@media (max-width: 1230px) {
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: 0;
  }

  .totalNumber {
    font-size: 50px;
    margin-top: 10px;
  }

  .todayNumber {
    font-size: 50px;
    margin-top: 10px;
  }

  .statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .readyTitle {
    font-size: 25px;
  }

  .makingTitle {
    font-size: 25px;
  }

  .totalTitle {
    font-size: 25px;
  }

  .todayTitle {
    font-size: 25px;
  }

  .totalNumber {
    font-size: 25px;
  }

  .todayNumber {
    font-size: 25px;
  }

  .ready {
    width: 100px;
  }
  
  .making {
    width: 100px;
  }

  .upperContainer {
    gap: 20px;
  }
}