.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 300px);
}

.scrollContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scroll {
    flex-grow: 1; 
    overflow-y: auto;
    overflow-x: hidden;
    
}

ul {
   list-style: none; 
}

.totalGroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
    margin-top: 40px;
    margin-bottom: 92px;
}

