.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 108px);
}

.tabs {
    display: flex;
}

.scroll {
    flex-grow: 1; 
    overflow-y: auto;
    overflow-x: hidden; 
}

.ingredientType {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 16px;
    gap: 24px;
}

.ingredient {
    width: 272px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ingredient img {
    width: 100%;
    margin: 0 16px 4px 16px;
}

.price  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    text-align: center;
    height: 46px;
}


