.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.active {
  color: rgba(242, 242, 243, 1);
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  composes: text text_type_main-default from global;
  width: 167px;
  background-color: transparent;
  border: none;
  color: #593feb;
  cursor: pointer;
}

.logoutButton {
  background-color: rgb(113, 0, 0);
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .form {
    height: calc(100dvh - 88px);
  }
}
