.container {
    display: flex; 
    justify-content: center;    
    position: relative;
    margin-top: 110px;
}

@media (max-width: 1230px) {
    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px;
      height: calc(100dvh - 100px);
    }
  }